* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid blue; */
}

body {
    background-color: aliceblue;
}

p {

    font-size: 1.5rem;
}

button {
    outline: none;
    font-size: 1.5rem;

}

h1, h2 {
    font-weight: bold;
    text-align: center;
}

li {
    list-style: none;
}

.outer-container {
    padding: 10px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.top-menu {
    
    display: flex;
    align-items: flex-end;
    justify-content: space-between;


}

.inner-container {
    background-color: lightblue;
    height: 100%;
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    display: none;
    
}

.quiz-start {
    display: block;
    margin-top: 10vh;
    background-color: beige;
    margin-left: 10%;
    margin-right: 10%;



}

.quiz-start button  {
    display: block;
    margin: 0 auto;
}

main {
    display: block;
    margin-top: 10vh;
    background-color: beige;
    margin-left: 10%;
    margin-right: 10%;
}

.questions {
    display: none;
}

.quiz-complete {
    display: none
}

.high-scores {
    display: block;
}

.high-scores ol {
    overflow-y: scroll;
    max-height: 200px;
}